* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "roboto";
  color: var(--color-fontColor);
  position: relative;
  /* overflow-x: hidden; */
  background-color: rgb(43, 43, 43);
}

.wrapper-content {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.d-none {
  display: none;
}

.position-fixed {
  position: fixed;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}
