* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  color: var(--color-fontColor);
  position: relative;
}

.wrapper-content {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.d-none {
  display: none;
}
