header {
  height: 72px;
  background-color: gray;
  display: flex;
  align-items: center;
}
header div {
  display: flex;
  align-items: center;
}
header div img {
  height: 48px;
  width: auto;
  object-fit: cover;
}
.header-search-field {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
}