.small-card-container {
  height: 150px;
  width: 240px;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.small-card-container:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  transform: scale(1.015);
}
.small-card-container:hover .small-card-img {
  animation: pokeJump 0.25s ease-out forwards;
}
@keyframes pokeJump {
  50% {
    transform: translateY(-15px) translateX(-8px) scale(1.25);
  }
  100% {
    transform: translateY(0px) translateX(-16px) scale(1.5);
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.6));
  }
}
.small-card-img {
  height: 104px;
  width: auto;
  object-fit: cover;
  margin-bottom: 0.75rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  transition: all 0.25s ease-in-out;
}
.small-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.pokemon-name {
  font-size: 1.25rem;
  text-transform: capitalize;
}
.small-card-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.small-card-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0.75rem 0 2px;
}
.small-card-types div {
  color: white;
}
.small-card-first-type {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 0.75rem 0 2px;
  border-radius: 100vw;
  height: 2rem;
  gap: 0.5rem;
  color: white;
  text-transform: capitalize;
}
.small-card-second-type {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 0.75rem 0 2px;
  border-radius: 100vw;
  height: 2rem;
  gap: 0.5rem;
  color: white;
  text-transform: capitalize;
}
.type-description {
  text-transform: capitalize;
}
.type-icon-box {
  height: 28px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-icon {
  height: 20px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
