.small-card-container {
  height: 150px;
  width: 240px;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  /* animation: fadeIn 1s forwards; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.small-card-container:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  transform: scale(1.015);
}
.small-card-container:hover .small-card-img {
  animation: pokeJump 0.25s ease-out forwards;
}
@keyframes pokeJump {
  50% {
    transform: translateY(-15px) translateX(-8px) scale(1.2);
  }
  100% {
    transform: translateY(0px) translateX(-16px) scale(1.4);
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.6));
  }
}
.small-card-img {
  height: 104px;
  width: auto;
  object-fit: cover;
  margin-bottom: 0.75rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
  transition: all 0.25s ease-in-out;
}
.small-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.pokemon-name {
  font-size: 1.25rem;
  text-transform: capitalize;
}
.small-card-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.small-card-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0.75rem 0 2px;
}
.small-card-types div {
  color: white;
}
.small-card-first-type {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 0.75rem 0 2px;
  border-radius: 100vw;
  height: 2rem;
  gap: 0.5rem;
  color: white;
  text-transform: capitalize;
}
.small-card-second-type {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px 0.75rem 0 2px;
  border-radius: 100vw;
  height: 2rem;
  gap: 0.5rem;
  color: white;
  text-transform: capitalize;
}
.type-description {
  text-transform: capitalize;
}
.type-icon-box {
  height: 28px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-icon {
  height: 20px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/* BIG CARD */

.big-poke-card-container {
  width: 375px;
  height: 667px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(-50% - 72px));
  border: 2px solid black;
  border-radius: 2rem;
  overflow: hidden;
}
.big-card-upper-part {
  height: 30%;
}
.big-card-lower-image {
  background-size: cover;
  height: 70%;
  border-radius: 2rem;
  overflow: hidden;
}
.big-card-lower-part {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.82) 40%, rgba(0, 0, 0, 0.94) 100%);
  padding-top: 3.5rem;
}
.big-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 2rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.big-card-name-box {
  text-transform: capitalize;
  display: flex;
  gap: 1rem;
}
.big-card-skip-backwards {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  font-size: 3rem;
}
.big-card-skip-backwards:hover {
  transform: scale(1.25);
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.75));
}
.big-card-skip-forwards {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  font-size: 3rem;
}
.big-card-skip-forwards:hover {
  transform: scale(1.25);
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.75));
}
.big-card-image {
  height: 176px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.navba-lower-part {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}
.big-card-info-button {
  font-family: "roboto";
  color: var(--color-fontSmokeWhite);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}
.big-card-info-button:hover {
  color: var(--color-fontWhite);
}
.big-card-info-button:focus {
  color: var(--color-fontWhite);
  text-decoration: underline;
}

/* BIG CARD LOWER CONTENT */

.big-cart-lower-content {
  box-sizing: border-box;
  /* background-color: aqua; */
  width: 100%;
  max-height: 100%;
  margin-top: 2rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  padding: 0rem 2rem;
  font-size: 0.85rem;
  line-height: 1.25rem;
  user-select: none;
}
.big-card-habitat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-fontSmokeWhite);
}
.habitats-box-habitat {
  font-size: 1rem;
  color: var(--color-fontWhite);
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
.habitat-box-image {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 2rem;
}

.stats-table {
  border: none;
  font-size: 0.85rem;
  width: 100%;
  height: 75%;
}
.stats-row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.stats-description {
  color: var(--color-fontSmokeWhite);
}
.stats-count {
  color: var(--color-fontWhite);
}
.stats-outer-bar {
  height: 1rem;
  width: 100%;
  background-color: var(--color-fontSmokeWhite);
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
}
.stats-inner-bar {
  height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-fontWhite);
}
colgroup col:nth-child(1) {
  width: 25%;
}
colgroup col:nth-child(2) {
  width: 15%;
}
colgroup col:nth-child(3) {
  width: 60%;
}
